.valeur_section_text {
  width: 87.5%;
}
.valeur_section_text span {
  position: relative;
}
.valeur_section_text span::after {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  background-image: url(../../assets/images/circle-valeurs.png);
  width: 267px;
  height: 74px;
  background-size: cover;
}

.content__valeurs_duo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.33%;
  gap: 2rem;
}

.content__valeurs_text_duo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 66.66%;
}

Valeurcard2 {
  width: 33.33%;
}