@import '../../styles/scss/variables';

.container__contact {
    background-image: url(../../assets/images/bg-contact.jpg);
    background-size: cover;
    padding: 6rem 4rem;
    h2 {
        color: $beige;
        width: 45%;
        span {
            position: relative;
            &::after {
                position:absolute;
                content: '';
                background-image: url(../../assets/images/circle-footer.png);
                background-size: cover;
                width: 252px;
                height: 81px;
                left: -12px;
                top: -4px;
            }
        }
    }
}

.contact_content_box {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    .contact_adresse {
        border-top: 1px solid $dark-violet;
        border-bottom: 1px solid $dark-violet;
        padding: 2rem 0;
        justify-content: space-between;
        display: flex;
        align-items: center;
        .line_adresse {
            display: flex;
            color: $beige;
            align-items: center;
            gap: 1rem;
        }
        .link_map {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
    .contact_tel {
        display: flex;
        padding:2rem 0 0 0;
        gap: 1rem;
        p {
            color: $beige;
        }
    }
    i:before {
        color: $beige;
    }
}


@media only screen and (max-width: 992px) {
    .container__contact {
        h2 {
            width: 100%;
        }
    }
    
}
@media only screen and (max-width: 768px) {

    .container__contact {
        padding: 2rem 2rem;
        h2 {
            span {
                &::after {
                    width: 170px;
                    height: 55px;
                }
            }
        }
    }

    .contact_content_box {
        padding: 2rem 0 0 0;
        .contact_adresse {
            align-items:baseline;
            flex-direction: column;
            gap: 2rem;
        }
    }


}
@media only screen and (max-width: 575px) {
    .container__contact {
        padding: 1rem 1rem;
    }

    .contact_content_box {
        padding: 2rem 0 0 0;
        .contact_adresse {
            align-items:baseline;
            flex-direction: column;
            gap: 2rem;
        }
        .contact_tel {
            padding:2rem 0 1rem 0;
        }
    }

}