
$beige: #FFE8D6;
$orange: #FB954B;
$marron: #834A37;
$light-blue:#E1D7FF;
$blue: #2F1870;
$dark-blue: #170647;
$darker-blue: #090022;
$grey-blue: #5E567A;
$dark-violet: #574867;

$h1: 4.5rem;

$h2: 3rem;

